<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SimGrid API Proxy" stopProcessing="true">
          <match url="^simgrid-api/(.*)" />
          <action type="Rewrite" url="https://www.thesimgrid.com/api/{R:1}" />
        </rule>
        <rule name="SimGrid Site Proxy" stopProcessing="true">
          <match url="^simgrid-site/(.*)" />
          <action type="Rewrite" url="https://www.thesimgrid.com/{R:1}" />
        </rule>
        <rule name="Angular SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
