@if (open()) {
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -- backdrop; Escape closes -->
  <div class="modal-backdrop" (click)="close()">
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -- stops backdrop close -->
    <div
      class="modal-panel modal-panel--{{ width() }}"
      role="dialog"
      aria-modal="true"
      (click)="$event.stopPropagation()"
    >
      <h3 class="modal-title">{{ title() }}</h3>
      <ng-content />
      <div class="modal-footer">
        <ng-content select="[modal-footer]" />
      </div>
    </div>
  </div>
}
